<!DOCTYPE html>
<html>
<!--
  * Copyright © 2012-2015, Intel Corporation. All rights reserved.
  * Please see the included README.md file for license terms and conditions.
  -->
<head>
    <title>Blank Cordova App Project Template</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

<!--
  * The "meta viewport" tag (below) helps your app size appropriately to a device's ideal viewport.
  * Note that Windows device viewports work better when initialized using the @viewport CSS rule.
  * For a quick overview of "meta viewport" and @viewport, see this article:
  *   http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag
  * To see how it works, try your app on a real device with and without a "meta viewport" tag.
  * Additional useful references include:
  *   http://www.quirksmode.org/mobile/viewports.html
  *   http://www.quirksmode.org/mobile/metaviewport/devices.html
  *   https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
-->

    <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

    <style>
    /* following three (cascaded) are equivalent to above three meta viewport statements */
    /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
    /* see http://dev.w3.org/csswg/css-device-adapt/ */
        @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
        @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
        /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
    </style>

<!-- See long explanation at the bottom of this file for info regarding placement of JS libraries. -->
<!-- These library references (below) are just examples to give you the general idea... -->
    <!-- <script src="lib/mc/hammer.js"></script> -->
    <!-- <script src="lib/ft/fastclick.js"></script> -->
    <!-- <script src="lib/jq/jquery.js"></script> -->
    <!-- <script src="lib/af/jq.appframework.js"></script> -->
    <!-- <script src="lib/af/appframework.ui.js"></script> -->

    <!-- <link rel="stylesheet" href="lib/af/icons.css"> -->
    <!-- <link rel="stylesheet" href="lib/af/af.ui.css"> -->
<!--
    <script>
		// if you're using App Framework, you might want to also do this
        $.ui.autoLaunch = false ;
        // and then use $.ui.launch() as shown in the app.hideSplashScreen() function
        // see https://github.com/01org/appframework/blob/master/documentation/detail/%24.ui.launch.md
    </script>
-->
    <link rel="stylesheet" href="css/app.css">
</head>


<body>
<!--
    <h1 class="align-center">A Blank Project Template</h1>
    <p class="align-center">
        To use this template as a starter app, start with init-app.js and app.js for your JavaScript code.
        See the README.md file for more details and the comments inside index.html, app.js and init-app.js.
    </p>
    <br>
    <p class="align-center">
        <input type="button" id="id_btnHello" value="Touch Me">
    </p>
-->

    <ons-template id="main-page">
        <ons-navigator 
            var="mainNavi"
            page="entry-list-page"> 
        </ons-navigator>
    </ons-template>
    
    <style>
        ons-toolbar {
            background-color: steelblue !important;
        }
        ons-toolbar div {
            color: white !important;
        }
        ons-back-button i {
            color: white !important;
        }
        ons-back-button span {
            color: white !important;
        }
        ons-toolbar-button {
            color: white !important;
        }
    </style>
        
    <ons-template id="entry-list-page">
        <ons-page id="entry-list-page">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button class="js-menu"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center">FotoMemo</div>
                <div class="right">
                    <ons-toolbar-button class="js-camera"><ons-icon icon="fa-camera"></ons-icon></ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div id="entry-list-container">
                <ul id="entry-list">
                </ul>
            </div>
        </ons-page>
    </ons-template>
    
    <style>
        .label {
            display: inline;
            font-size: small;
            background-color: darkseagreen;
            color: white;
            padding: 3px;
            border-radius: 3px;
        }
        .savedTime {
            margin: 6px 0;
        }
        .imageBox {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            -moz-background-size: contain;
        }
        #entry-list .imageBox {
            height: 100px;
            width: 100px;
        }
        #entry-detail-list .imageBox {
            height: 200px;
            width: 200px;
            margin: 20px 0px;
        }
        #entry-detail-list {
            margin: 10px;
        }
    </style>

    <script>
        var dateFormat = 'yy/mm/dd HH:ii';
        var dateOption = {
            display: 'bottom',
            theme: 'mobiscroll',
            lang: 'en',
            dateOrder: 'yymmdd',
            dateFormat: 'yy/mm/dd',
            timeFormat: 'HH:ii',
            timeWheels: 'HHii'
        };
        var labelOption = {
            display: 'bottom',
            theme: 'mobiscroll',
            lang: 'en',
        };
    </script>
    
    <script type="text/template" id="entry-item-template">
        <li class="entry-list-item">
            <ons-row>
                <ons-col>
                    <div class="imageBox" style="background-image: url('<%= url %>')"></div>
                </ons-col>
                <ons-col align="center">
                    <div class="labels">
                        <div class="label"><%= labelText %></div>
                    </div>
                    <div class="savedTime"><%= savedTime %></div>
                    <div class="icon">
                        <% if (deleted) { %>
                            <ons-icon icon='fa-trash-o' size='20px'></ons-icon>
                        <% } %>
                        <% if (completed) { %>
                            <ons-icon icon='fa-check-square' size='20px'></ons-icon>
                        <% } %>
                    </div>
                </ons-col>
            </ons-row>
        </li>
    </script> 

    <ons-template id="entry-detail-page">
        <ons-page id="entry-detail-page">
            <ons-toolbar>
                <div class="left"><ons-back-button></ons-back-button></div>
                <div class="center">Detail</div>
            </ons-toolbar>
            <ons-list id="entry-detail-list" modifier="inset">
                <ons-list-item>
                    <div class="imageBox" id="imageBox" style="background-image: url('<%= url %>')"></div>
                </ons-list-item>
                <ons-list-item>
                    <input class="text-input text-input--transparent" id="savedTime">
                </ons-list-item>
                <ons-list-item>
                    <select class="text-input text-input--transparent" id="label"></select> 
                </ons-list-item>
                <ons-list-item>
                    <input class="text-input text-input--transparent" id="comment" placeholder="Comment"> 
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>    

    <ons-sliding-menu
        var="mainMenu"
        side="left"
        type="overlay"
        max-slide-distance="200px"
        swipeable="true"
        main-page="main-page"
        menu-page="main-menu">
    </ons-sliding-menu>
    
    <ons-template id="main-menu">
        <ons-toolbar>
            <div class="right">
                <ons-toolbar-button class="js-close" onClick="mainMenu.close()">
                    <ons-icon icon="fa-close"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-list id="main-menu">
            <ons-list-header>
                Labels
            </ons-list-header>
            <ons-list-item modifier="tappable">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="labels" id="labelNone">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    None
                </label>
            </ons-list-item>
            <% _.each(labels, function(label){ %>
                <ons-list-item modifier="tappable">
                    <label class="radio-button radio-button--list-item">
                        <input type="radio" name="labels" value="<%= label.value %>">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                        <%= label.text %>
                    </label>
                </ons-list-item>
            <% }); %> 
            <ons-list-item modifier="tappable">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="labels" id="labelAll">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    All
                </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="buttonLabelSetting">
                <ons-icon icon="fa-gear"></ons-icon>Setting
            </ons-list-item>
            <ons-list-header>
                Action
            </ons-list-header>
            <ons-list-item modifier="tappable" id="buttonDelete">
                Clear
            </ons-list-item>
        </ons-list>
    </ons-template>

    <style>
        ons-list-item ons-icon, li ons-icon {
            color: blue;
            margin: 5px;
        }
        #label-detail-list {
            margin: 10px;
        }
    </style>

    <ons-template id="label-list-page">
        <ons-page id="label-list-page">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button></ons-back-button>
                </div>
                <div class="center">Labels</div>
            </ons-toolbar>
            <div id="label-list-container">
                <ul id="label-list">
                    <div id="label-list">
                    </div>
                    <li id="add-label">
                        <ons-icon icon="fa-plus"></ons-icon>Add Label
                    </li>
                </ul>
            </div>
        </ons-page>
    </ons-template>

    <script type="text/template" id="label-item-template">
        <li class="label-list-item">
            <%= text %>
        </li>
    </script> 

    <ons-template id="label-detail-page">
        <ons-page id="label-detail-page">
            <ons-toolbar>
                <div class="left"><ons-back-button></ons-back-button></div>
                <div class="center">Label</div>
            </ons-toolbar>
            <ons-list id="label-detail-list" modifier="inset">
                <ons-list-item>
                    <input class="text-input text-input--transparent" id="text" placeholder="Text"> 
                </ons-list-item>
            </ons-list>
            <ons-list modifier="inset">
                <ons-button id="del-label" modifier="large">
                    <ons-icon icon="fa-trash"></ons-icon>Delete Label
                </ons-button>
            </ons-list>
        </ons-page>
    </ons-template>    
                
<!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
<!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work below -->
    <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->

    <!-- See <head> section above for additional JS libraries loaded as part of this application. -->

<!--
  * cordova.js is a phantom lib for "Cordova HTML5 web app," it does nothing in a "Standard HTML5 web app"
  * Seeing a "Failed to load resource: net::ERR_FILE_NOT_FOUND" message caused by this "cordova.js" script?
  * The cordova.js script is required if you convert your "Standard HTML5" project into a "Cordova" project.
  * You can safely ignore the error or comment out this line if you will not be developing a Cordova app.
-->
    <script src="cordova.js" id="xdkJScordova_"></script>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css" />
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    
    <script src="lib/jquery.js"></script>
    <script src="lib/stylelistener.jquery.js"></script>
    <script src="lib/json2.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone.mutators.js"></script>
    <script src="lib/backbone.localStorage.js"></script>
    <script src="lib/backbone.stickit.js"></script>
    <script src="lib/backbone.marionette.js"></script>

    <link rel="stylesheet" href="lib/mobiscroll/css/mobiscroll.custom-2.15.1.min.css" />
    <script src="lib/mobiscroll/js/mobiscroll.custom-2.15.1.min.js"></script>
    
    <script src="js/app.js"></script>           <!-- for your event code, see README and file comments for details -->
    <script src="js/init-app.js"></script>      <!-- for your init code, see README and file comments for details -->
    <script src="xdk/init-dev.js"></script>     <!-- normalizes device and document ready events, see file for details -->

<!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
<!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work above -->
    <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->
</body>

<!--
    Recommended JavaScript library load order for hybrid Cordova apps:

    * "Device-Independent" JavaScript libraries.
    * optional: weinre debug script tag for remote console debug (see notes).
    * Intel XDK device JavaScript library.
    * Cordova/PhoneGap device JavaScript library.
    * "Device-Dependent" JavaScript libraries.
    * Application JavaScript <script> tags and libraries.
    * optional: weinre debug script tag for remote console debug (see notes).

    In complex projects, the JavaScript load order is important. You must insure that the underlying
    device API native code finishes its init, which can take longer than the webview init...

    VERY IMPORTANT: notice that all of the libraries used in this project are located within the app's
    local directories, which means they will get bundled with the app. They are NOT being pulled in
    over the net. In most cases, this is what you should be doing when you build a hybrid mobile app.
    This insures that you always use the JS code that you debugged against AND that you are not requiring
    a data connection (network connection) to get the app started. If your app startup required a data
    connection to initialize and start interaction with the user, lack of a reliable network connection
    could be disasterous. Not to mention it generally results in a slower load time. Loading locally is
	is much friendlier to your end user's data plan and battery.  :-)

    NOTE: do not use a directory prefix with intelxdk.js or cordova.js - they are inserted automatically
    by the build system, emulator and other tools and are assumed to be in the index.html source directory.
    You will not find these JS files anywhere in your project, they are "phantom" libraries. If you do see
    copies of these files as part of your project they should be removed to avoid confusing the Intel XDK.

    When building a Cordova app (e.g., "Cordova Hybrid App") you can omit references to the
    "intelxdk.js" and "xhr.js" script files. It does not hurt to keep them, but they are not used in
    the Cordova environment, they are only needed for the "legacy" Intel XDK build systems.
    (In the case of the Cordova build system, the Cordova and Intel XDK apis are included as plugins
    and the CORS configuration is specified as a parameter in the build settings.)

    LIBRARY NOTE: If you are using a large number of JavaScript libraries, especially third-party libraries
    (like jQuery, {{ mustache }}, Underscore, etc.) that are "independent" of the device APIs provided
    by the Intel XDK and Cordova libraries - and are independent of your application - your
    app initialization will be most successful if you load these libraries BEFORE the Cordova and
    Intel XDK libraries, in the <head> section of your index.html file. Obviously, any code that depends
    on the Cordova or Intel XDK library APIs must be loaded AFTER the intelxdk.js and cordova.js libraries.

    Libraries that are "independent" of the device APIs are libraries that you could use in a desktop
    browser in a normal web page or web app. "Dependent" libraries are, most likely, your own code
    that you've written specifically to work with the Cordova or Intel XDK device APIs. In some cases,
    if your device-dependent code requires access to device-independent code to get started, you may
    have to use something like CommonJS to force the device-dependent code to wait for the device-
    independent code to initialize, otherwise you may have trouble getting your app started.

    Because of this added dependency on the underlying native code (device) initialization, you should
    not use the "document ready" event to start your application. You should wait for the "device ready"
    event before you begin your application (if it uses any device APIs); in practice, it is best to wait
    for both. (See the init-dev.js file in this template for an example of how to do this, it generates
	a custom "app.Ready" event that you can trigger off of and just forget about the other events.)

    NOTE: *any* library that redefines addEventListener() or fiddles with outstanding events may
    interfere with capturing the "device ready" event and should, therefore, be placed *BEFORE*
    the Cordova and Intel XDK libraries in the load order.

	ALSO: if you use weinre for debugging (ala the Test tab or your own), you may have to experiment with
	the placement of the weinre script. Some recommended locations are shown within. If these locations
	do not work, you may have to experiment. The optimum placement can be app-specific, primarily as a
	function of the included JavaScript libraries and your initialization.
-->

</html>
